@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Aleje Jerozolimskie 1<br />
    Warszawa, 90-890<br />
    <abbr title="Telefon">Tel:</abbr>
    425.555.0100
</address>

<address>
    <strong>Klienci:</strong>   <a href="mailto:client@extremesport.com">Client@ExtremeSport.com</a><br />
    <strong>Praca:</strong> <a href="mailto:job@extremesport.com">Job@ExtremeSport.com</a>
</address>